{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 5%"
        },
        "presets": ["react"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["react"]
    }
  }
}
